<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>



    <div class="row">
       <div class="col-md-2">
         <%= link_to image_tag("creacion.png", alt: "creacion logo"),{action: 'creacion_de_ejercicios', controller: 'users'}, id: "imagen-creacion", class: "bolitas" %>
         <p>Creación de Ejercicios</p>
       </div>
       <div class="col-md-2">
         <%= link_to image_tag("comunidad.png", alt: "comunidad logo"),'#', id: "imagen-comunidad", class: "bolitas" %>
         <p>Comunidad</p>
       </div>
       <div class="col-md-2">
         <%= link_to image_tag("misEjercicios.png", alt: "ejercios logo"),'#', id: "imagen-mis-ejercicios", class: "bolitas" %>
         <p>Mis ejercicios</p>
       </div>
    </div>

</div>
