<div class="modal-dialog">
  <div class="modal-content">
    <div class="top-bar">
        <button id="save-btn">Save</button>
        <button id="undo-btn">Undo</button>
        <button id="clear-btn">Clear</button>
        <input type="color" id="color-picker">
        <input type="range" id="brush-size" min="1" max="50" value="10">
    </div>

    <div >
          <canvas id="draw" width="800" height="800"></canvas>
    </div>

    <%=form_for exercises_canva_path do |f|  %>
      <div class="modal-body">
        <ul class="errors"></ul>

            <div class="form-group">
              <!-- name: "uno", file:"uno.html", user_id: u.id -->
              <%=  f.label :name, class:"control-label" %>
              <%=f.text_field :name, class: "form-control"  %>
            </div>
            <div class="form-group">
              <%=  f.label :file, class: "control-label"%>
              <%= f.text_field :file, class: "form-control" %>
            </div>
          </div>

          <div class="modal-footer">
            <%= f.submit "Salvar ejercicio",:exercise => @exercise ,class: "btn btn-primary"%>
            <%=link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
          </div>

    <% end %>
    <div id="makeMeDraggable">
      <input type="text" id="input" />
    </div>
  </div>
</div>
