<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">Ingresa el Nombre de tu nuevo Ejercicio</h3>
    </div>
    <%=@name_exercise_id%>
    <%= form_for :name, url: update_name_path(@name_exercise_id),remote: true do |f| %>
      <div class="modal-body">
          <%= f.label :new_name_exercise,'' %>
          <%= f.text_field :new_name_exercise  %>
        </div>
        <div class="modal-footer">
      <%= f.submit "Cambiar nombre!", class: "btn btn-success revisar" %>
      <button type="button" class="btn btn-block btn-danger boton_cerrar" data-dismiss="modal">Cerrar</button>
    </div>
  <% end %>
  </div>
</div>
