<h1>edit</h1>
<div class="">
  <button id="btn_recover" class="btn btn-info">recuperar ubicacion previa</button>
  <button id="btn_text" class="btn btn-info">Agregar texto</button>
  <button id="btn_inputs" class="btn btn-warning">Agregar input</button>
  <a href="#"><button id="btn_delete" class="btn btn-danger">Borrar area de trabajo</button></a>

</div>

<%= form_for :exercise, url: edit_work_place_path, data: { confirm: "¿desea salvar el ejercicio" }   do |f| %>
  <div id="work_area">
    <% @texts.each_with_index do |text , index| %>
      <div class="hidden-text-edit">
        <span id="pxT-<%=index + 1%>-edit"> <%= text.x_position.to_i %> </span>
        <span id="pyT-<%=index + 1%>-edit"> <%= text.y_position.to_i %> </span>
      </div>
      <label for="exercise_input">
        <input id="text_edit_<%=index + 1%>" class="text_edit_input" type=text value="<%= text.text %>" name="exercise[text_edit_<%=index + 1%>]" />
      </label>
    <% end %>

    <% @inputs.each_with_index do |input , index| %>
      <div class="hidden-text-edit">
        <span id="pxI-<%=index + 1%>-edit"> <%= input.x_position.to_i %> </span>
        <span id="pyI-<%=index + 1%>-edit"> <%= input.y_position.to_i %> </span>
      </div>
      <label for="exercise_input">
        <input id="input_edit_<%=index + 1%>" class="text_edit_input" type=text value="<%= input.answer %>" name="exercise[input_edit_<%=index + 1%>]" />
      </label>
    <% end %>

    <!-- no borrar, util para ver el formato de cada input en los form_for -->
    <!-- <div class="draggableResizable">
      %= f.label :input,'I1' %
      %= f.text_field :input  %
    </div> -->

  </div>
  <!-- metodo post -->
  <%= f.submit "Terminar Ejericio", class: "btn btn-primary", id:"btn-terminar-ejercicio" %>
<% end %>
