<h1>edit</h1>
<div class="">
  <button id="btn_text" class="btn btn-info">Agregar texto</button>
  <button id="btn_inputs" class="btn btn-warning">Agregar input</button>
  <a href="#"><button id="btn_delete" class="btn btn-danger">Borrar area de trabajo</button></a>

</div>
<%= form_for :exercise, url: edit_work_place_path, data: { confirm: "¿desea salvar el ejercicio" }   do |f| %>
  <div id="work_area">
    <% @texts.each_with_index do |text , index| %>
      <div class="hidden-text-edit">
        <span id="indexT-<%=index + 1%>-edit"><%=index + 1%></span>
        <span id="idT-<%=index + 1%>-edit"><%= text.id %></span>
        <span id="pxT-<%=index + 1%>-edit"><%= text.x_position %></span>
        <span id="pyT-<%=index + 1%>-edit"><%= text.y_position %></span>
        <span id="textT-<%=index + 1%>-edit"><%= text.text %></span>
      </div>

      <span id="text_edit_<%=index + 1%>"></span>

      <script type="text/javascript">
        // apuntar el span donde se coloca el inputText
        var $text_edit =  $('#text_edit_1');
        console.log($text_edit);
        // // obtener el index
        // var $indexT = $('#indexT-1-edit').html();
        // // obtener el id
        // var $idT = $('#idT-1-edit').html();
        // var $pxT= $('#pxT-1-edit').html();
        // var $pyT= $('#pyT-1-edit').html();
        // var $textT= $('#textT-1-edit').html();

        $($text_edit).append('<label for="exercise_input"><input id="text_db" type= text value="sop" name="exercise[text_] " /></label>');

        $($text_edit).offset({top:(209),left:(1224)})

        $('#work_area').append($text_edit);


      </script>
    <% end %>



    <!-- no borrar, util para ver el formato de cada input en los form_for -->
    <!-- <div class="draggableResizable">
      %= f.label :input,'I1' %
      %= f.text_field :input  %
    </div> -->

  </div>
  <!-- metodo post -->
  <%= f.submit "Terminar Ejericio", class: "btn btn-primary", id:"btn-terminar-ejercicio" %>
<% end %>
