<!--Se agrego esto apra tener su propio archivo js. No olvides compilar el archivo en config/initializers/assets.rb -->
<script>
  <%= render :partial => 'exercises/edit_exercise.js', :locals => { :exercise => @exercise } %>
</script>

<div class="center jumbotron comunidad">
 <h1>Edición de ejercicios</h1>
 <h3>Nombre del ejercicio: <%= @exercise.name %> </h3>
</div>

<div class="buttons-edit">
  <button id="btn_text" class="btn btn-info">Agregar texto</button>
  <button id="btn_inputs" class="btn btn-warning">Agregar input</button>
  <%= button_to "Cambiar Nombre", edit_name_path(@exercise.id),class: "btn btn-success",id: "btn_change_name" ,remote: true %>
</div>
<!-- formulacio para campo de trabajo editable -->
<%= form_for :exercise, url: edit_work_place_path, data: { confirm: "¿desea salvar el ejercicio" }   do |f| %>
<!-- division para el area de trabajo -->
  <div id="work_area">
  </div>
  <!-- metodo post -->
  <%= f.submit "Terminar Ejericio", class: "btn btn-primary", id:"btn-terminar-ejercicio" %>
<% end %>

<div id="edit-name-modal" class="modal fade"></div>
