<!--Se agrego esto apra tener su propio archivo js. No olvides compilar el archivo en config/initializers/assets.rb -->
<script>
  <%= render :partial => 'exercises/edit_exercise.js', :locals => { :exercise => @exercise } %>
</script>
<% provide(:title, "Editar Ejercicio") %>
<div class="center jumbotron comunidad">
 <h1>Edición de ejercicios</h1>
 <h3>Nombre del ejercicio: <%= @exercise.name %> </h3>
 <div class="instrucciones">
   <h2 class="instrucciones">Instrucciones</h2>
   <ul>
     <li>agrega preguntas o respuestas, con los botones correspondientes</li>
     <li>arrastra lo creado al lugar deseado en el área cuadriculada de trabajo</li>
     <li>elimina una pregunta o una respuesta, dando click en el tache correspondiente</li>
     <li>presiona "Cambiar Nombre", si deseas modificar el nombre del ejercicio, si no ingresas un nuevo nombre, el nombre permanecerá intacto</li>
     <li>presiona "Modificar ejercicio"</li>
   </ul>

 </div>
</div>

<div class="buttons-edit">
  <button id="btn_text" class="btn btn-info">Agregar pregunta</button>
  <button id="btn_inputs" class="btn btn-warning">Agregar respuesta</button>
  <%= button_to "Cambiar Nombre", edit_name_path(@exercise.id),class: "btn btn-success",id: "btn_change_name" ,remote: true %>
</div>
<!-- formulacio para campo de trabajo editable -->
<%= form_for :exercise, url: edit_work_place_path, data: { confirm: "¿desea salvar el ejercicio" }   do |f| %>
<!-- division para el area de trabajo -->
  <div id="work_area">
  </div>
  <!-- metodo post -->
  <%= f.submit "Modificar Ejercicio", class: "btn btn-primary", id:"btn-terminar-ejercicio" %>
<% end %>

<div id="edit-name-modal" class="modal fade"></div>
