<%@correct_answers.each do |correct_answer|%>
  $("#<%=correct_answer%>").css("background-color", "#58D68D");
<%end%>
<%@wrong_answers.each do |wrong_answer|%>
  $("#<%=wrong_answer%>").css("background-color", "#EC7063");
<%end%>
<%if @wrong_answers.length == 0 %>
  $("#work_area2").append("<div class='congratulations'>Buen trabajo!!</div>");
  $(".revisar").hide();
<% end %>
// modificamos la cantidad de usuarios que han resuleto ese ejercicio
$("#totalTimes<%= @exercise.id %>").text("<%=UserExercise.where(exercise_id: @exercise.id).count%>");
$("#totalUser<%= @exercise.id %>").text("<%=UserExercise.where(exercise_id: @exercise.id, user_id: current_user.id).count%>");
